.button {
  background-color: darkslategray;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button:hover {
  opacity: 0.5;
}

.disabled {
  user-select: none;
  cursor: default;
  opacity: 0.5;
}

.large {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

.small {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}

.icon {
  color: white;
  display: flex;
}