build
dist
wasm

coverage

node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

__pycache__
.ipynb_checkpoints

.DS_Store
.vscode

.env.local
.env.development.local
.env.test.local
.env.production.local
