.container {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 20px;
  color: darkslategray;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 3;
  margin: 10px;
}

.text {
  font-size: 16px;
  margin-bottom: 10px;
}
